@import "../../styles/Variables.sass"

.posts
    box-shadow: 0px 10px 25px var(--post-shadow)
    border-radius: 35px
    display: flex
    flex-wrap: wrap
    background-color: var(--post-background)
    margin:
        bottom: 2em
    transition: all .23s ease-in-out

    

@media screen and ( max-width: 760px )
    .posts
        padding: 1.5em
        margin:
            top: 1em


@media screen and ( min-width: 1024px )


@media screen and ( min-width: 760px )
    .posts
        padding: 2em
        margin:
            top: 2em
