.posts {
  -webkit-box-shadow: 0px 10px 25px var(--post-shadow);
  box-shadow: 0px 10px 25px var(--post-shadow);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--post-background);
  margin-bottom: 2em;
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
}

.posts .profile_div {
  cursor: pointer;
}

.posts img {
  width: 2.2em;
  height: 2.2em;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  border-radius: 47px;
}

.posts .upper_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.posts .left_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.posts .data_user {
  margin-left: 1.2em;
}

.posts .profile_name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1em;
  cursor: pointer;
  color: var(--username-color);
}

.posts .user_name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1em;
  color: var(--title-text-color);
}

.posts .time {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--time-color);
}

.posts .link_post {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6em;
  color: #a6a5ff;
  cursor: pointer;
}

.posts .right_section {
  text-align: right;
}

.posts .post_content {
  margin-top: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}

.posts .below_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  color: var(--post-below-section);
}

.posts .comment_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.posts .like_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.posts .share_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  cursor: pointer;
}

.posts .post_icons {
  margin-right: 0.6em;
}

@media screen and (max-width: 760px) {
  .posts {
    padding: 1.5em;
    margin-top: 1em;
  }
  .comment_section {
    font-size: 0.7em;
    margin-right: 1em;
  }
  .share_section {
    font-size: 0.7em;
  }
  .like_section {
    font-size: 0.7em;
    margin-right: 1.5em;
  }
  .post_icons {
    width: 1.8em;
    height: 1.8em;
  }
}

@media screen and (min-width: 1024px) {
  .comment_section {
    font-size: 0.8em;
    margin-right: 2em;
  }
  .share_section {
    font-size: 0.8em;
    margin-right: 2em;
  }
  .like_section {
    font-size: 0.8em;
    margin-right: 2em;
  }
}

@media screen and (min-width: 760px) {
  .posts {
    padding: 2em;
    margin-top: 2em;
  }
  .posts.plus_margin {
    margin-left: 1.5em;
  }
  .post_content {
    margin-left: 4em;
  }
  .below_post {
    margin-left: 3.5em;
    letter-spacing: 0.1px;
  }
  .comment_section {
    font-size: 0.7em;
    margin-right: 1.5em;
  }
  .share_section {
    font-size: 0.7em;
  }
  .like_section {
    font-size: 0.7em;
    margin-right: 1.5em;
  }
}
/*# sourceMappingURL=Post.module.css.map */
