@import "../../styles/Variables.sass"
    
.button_div
    button
        border-radius: 12px
        background-color: rgba(254, 254, 254, 0)
        padding: 0.6em 1.8em
        color: $lighter-theme-solid
        border: 2px solid $lighter-theme-solid
        transition: 0.3s
        cursor: pointer
        font-family: Poppins
        ont-style: normal
        font-weight: 500
        &:hover
            background: $lighter-theme-solid
            border: 2px solid $lighter-theme-solid
            color: #fff
            transition: 0.3s
        &:active
            transform: scale(.89)