.page h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: var(--title-text-color);
}

.page h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  color: var(--title-text-color);
}

.page .popular_profiles img {
  width: 4.5em;
  height: 4.5em;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  border-radius: 47px;
  border-radius: 39px;
}

.page .popular_profile_div {
  -webkit-box-shadow: 0px 10px 25px var(--post-shadow);
  box-shadow: 0px 10px 25px var(--post-shadow);
  border-radius: 20px;
  background-color: var(--post-background);
}

.page .picture_div {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.page .user_name {
  margin-bottom: 0.2em;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: var(--title-text-color);
}

.page .profile_name {
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2em;
  color: var(--username-color);
}

.page .follow_button {
  margin-bottom: 2em;
}

.trending_posts {
  margin-top: 1em;
}

.trending_posts .explore_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trending_posts .explore_title select {
  border: none;
  outline: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  color: var(--title-text-color);
}

.trending_posts .explore_title select option {
  color: #000;
}

.loading_container {
  width: 100%;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@-webkit-keyframes jump-up {
  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
}

@keyframes jump-up {
  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
}

.dot {
  width: 0.7em;
  height: 0.7em;
  background-color: #a6a5ff;
  display: inline-block;
  border-radius: 50%;
}

.j1 {
  margin-right: 0.3em;
  -webkit-animation: jump-up 0.6s 0s linear infinite;
  animation: jump-up 0.6s 0s linear infinite;
}

.j2 {
  margin-right: 0.3em;
  -webkit-animation: jump-up 0.6s 0.1s linear infinite;
  animation: jump-up 0.6s 0.1s linear infinite;
}

.j3 {
  margin-right: 0.3em;
  -webkit-animation: jump-up 0.6s 0.2s linear infinite;
  animation: jump-up 0.6s 0.2s linear infinite;
}

.posts {
  -webkit-box-shadow: 0px 10px 25px var(--post-shadow);
  box-shadow: 0px 10px 25px var(--post-shadow);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--post-background);
  margin-bottom: 2em;
  -webkit-transition: all 0.23s ease-in-out;
  transition: all 0.23s ease-in-out;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.posts h3 {
  color: var(--light-text-color);
}

.posts h4 {
  color: var(--title-text-color);
}

.posts .poster {
  color: var(--poster);
  text-decoration: none;
  width: 100%;
}

.posts .poster:hover {
  text-decoration: underline;
}

.posts .metadata {
  color: var(--title-text-color);
}

.posts .title {
  width: 50%;
}

.posts .timestamp {
  font-size: 0.8em;
  color: var(--time-color);
}

.posts .details {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.posts a {
  color: #a6a5ff;
}

.posts a:active {
  -webkit-transform: scale(0.89);
  transform: scale(0.89);
}

.img_div {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-display: flex;
  margin-justify-content: center;
}

.circle {
  margin-bottom: 63vh;
}

@media screen and (max-width: 760px) {
  .page {
    margin-top: 5em;
  }
  .page h1 {
    font-size: 1.1em;
    margin-left: 1.5em;
  }
  .page h2 {
    font-size: 1.1em;
  }
  .profile_name {
    font-size: 0.7em;
  }
  .user_name {
    font-size: 1em;
  }
  .popular_profiles {
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
  }
  .popular_profiles .popular_profile_div {
    display: inline-block;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0em 1em;
  }
  .popular_profiles .popular_profile_div:first-child {
    margin-left: 2em;
  }
  .popular_profiles .follow_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .trending_posts {
    margin: 2em 1.5em 0em 1.5em;
  }
  .posts {
    padding: 1.5em;
    margin-top: 1em;
  }
  .posts h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
  }
  .posts h5 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .img_div img {
    width: 100%;
  }
  .iframe_container {
    min-height: 3em;
  }
  .metadata {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 760px) {
  .page {
    position: absolute;
    margin-left: 14%;
    margin-top: 2em;
    width: 52%;
  }
  .page h1 {
    font-size: 1.5em;
  }
  .profile_name {
    font-size: 0.6em;
  }
  .user_name {
    font-size: 0.8em;
  }
  .popular_profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .popular_profiles .popular_profile_div {
    width: 21%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2em;
  }
  .posts {
    padding: 2em;
    margin-top: 2em;
  }
  .posts h3 {
    font-size: 1em;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .posts h4 {
    font-size: 1.2em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .posts h5 {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .posts .details {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .posts .img_div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .posts .img_div img {
    width: 40%;
  }
  .iframe_container {
    min-height: 3.5em;
  }
  .metadata {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1024px) {
  .profile_name {
    font-size: 0.7em;
  }
  .user_name {
    font-size: 1em;
  }
  .iframe_container {
    height: 0em;
  }
}

.iframe_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 1em;
  padding-top: 41%;
}

.iframe_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  height: 100%;
}

.thumnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 1em;
  padding-top: 41%;
}

.thumnail iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  height: 100%;
}
/*# sourceMappingURL=Explore.module.css.map */
