@import Variables.sass
@import url('https://fonts.googleapis.com/css2?family=Poppins:normal:wght@400,500,600&display=swap')
    
.page
    position: absolute
    margin:
        left: 14%
    width: 52%
    h1
        width: 100%
        font-family: Poppins
        font-style: normal
        font-weight: 600
        font-size: 1.5em
    

    .popular_profiles
        display: flex
        flex-wrap: wrap
        margin:
            top: 2em
        width: 100%
        justify-content: space-between
        img
            width: 3.2em
            height: 3.2em

    .popular_profile_div

        box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
        border-radius: 20px
        display: flex
        flex-wrap: wrap
        text-align: center
        margin:
            top: 2em
        width: 19%
        

        
    .picture_div
        width: 100%
        margin:
            top: 2em
            bottom: 0.5em
    .user_name
        margin:
            bottom: 0.2em
        width: 100%
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1em
    .profile_name1
        width: 100%
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.7em
        margin:
            bottom: 2em


    .follow_button
        width: 100%
        margin:
            bottom: 2em

.profile_div
    
    cursor: pointer
    img
        width: 2.2em
        height: 2.2em
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        border-radius: 47px

.below_items
    display: flex
    justify-content: space-between
    width: 100%
    margin:
        top: 1em
    .icons_div
        display: flex
        cursor: pointer
    .emojis
        width: 1.8em
        height: 1.8em
        color: $lighter-text
    .emojis:first-child
        margin:
            right: 1em

.weeve_button
    button
        padding: 0.5em 0.8em
        display: flex
        align-items: center
        width: 100%
        border: none
        background-color: $lighter-theme-solid
        color: #fff
        border-radius: 12px
        font-size: 1em
        text-decoration: none
        border: solid 2px $lighter-theme-solid
        transition: 0.3s
        cursor: pointer

        &:hover
            border: 2px solid $lighter-theme-solid
            background-color: rgba(254, 254, 254, 0)
            color: $lighter-theme-solid
        &:active
            transform: scale(.89)        

.trending_weeves
    margin:
        top: 1em

.trending_weeve
    box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
    border-radius: 35px
    display: flex
    margin:
        top: 2em
    flex-wrap: wrap
    padding: 2em
.upper_post
    display: flex
    justify-content: space-between
    width: 100%
    .left_section
        display: flex
        align-items: center
    .data_user
        margin:
            left: 1.2em
        
    .profile_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size:  0.8em
        line-height: 1em
        cursor: pointer
    .user_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1.4em
        line-height: 1em
    .time
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.9em

    .link_post
        font-family: Poppins
        font-style: normal
        font-weight: normal
        font-size: 0.6em
        color: $lighter-theme-solid
        cursor: pointer
    .right_section
        text-align: right

.post_content
    margin:
        left: 4em
        top: 1em
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 0.9em
    line-height: 1.4em
    letter-spacing: 0.02em

.below_post
    display: flex
    color: $lighter-text
    letter-spacing: 0.1rem
    margin:
        left: 3.5em
        top: 1em

    .comment_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        margin:
            right: 2em
        cursor: pointer
    .like_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        margin:
            right: 2em
        cursor: pointer

    .share_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        cursor: pointer

    .post_icons
        margin:
            right: 0.6em



