@import Variables.sass
    
.page
    position: absolute
    top: 0
    margin:
        top: 5vh
        left: 15%
    width: 53%

    .popular_profiles
        width: 100%
    h1
        font-size: 1.3rem
    .popular_profile_div
        width: 20%
        box-shadow: -5px 5px $almost-white
        border-radius: 25px
        text-align: center
        margin:
            bottom: 1em
            right: 5%
        display: inline-block

    .picture_div
        width: 100%
        display: flex
        justify-content: center
        padding:
            top: 2em
        margin:
            bottom: 0.5em
    .img
        height: 5vw
        width: 5vw
        border-radius: 26px
        overflow: hidden
    .user_name
        font-size: 1em
        margin:
            bottom: 0.2em
    .profile_name1
        font-size: 0.6em
        letter-spacing: 1px
        margin:
            bottom: 2em

    .follow_button
        button
            border: 2px solid $lighter-theme-solid
            background: none
            color: $lighter-theme-solid
            border-radius: 10px
            padding: 0.5em 1.8em
            margin:
                bottom: 2em
        button:hover
            border: 2px solid #fff
            color: #fff
            background: $lighter-theme-solid
            transition: 0.3s



.trending_posts
    box-shadow: -5px 5px $almost-white
    border-radius: 25px
    margin:
        bottom: 7vh

    .profile_div
        margin:
            left: 1vw
            top: 2vh
            bottom: 2vh
        height: 5vh
        width: 2.5vw
        border-radius: 26px
        overflow: hidden
        padding:
            top: 2vh
            left: 0.2vw


.upper_post
    position: relative
    width: 95%

    .user_name
        position: absolute
        top: 0
        margin:
            top: 0.8em
            left: 5vw
        font-size: 1.2rem

    .profile_name
        position: absolute
        top: 0
        margin:
            top: 2.8em
            left: 5vw
        font-size: 0.8rem
        color: $lighter-text

    .time
        position: absolute
        top: 0
        right: 0
        margin:
            top: 1em
        color: $lighter-text
        font-size: 0.8rem

    .link_post
        position: absolute
        top: 0
        right: 0
        top: 3.5em
        color: $lighter-theme-solid
        font-size: 0.55rem

.post_content
    margin:
        top: 1.8em
        left: 5vw
    width: 84%

.below_post
    margin:
        top: 2vh
        left: 5vw
    display: flex
    color: $lighter-text
    letter-spacing: 0.1rem
    padding:
        bottom: 2vh
    .like_section
        margin:
            left: 2rem
    .share_section
        margin:
            left: 2rem
        
    .post_icons
        padding:
            right: 0.5rem
        vertical-align: -0.4rem