@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
    
* 
    margin: 0
    padding: 0

body
    background-color: #fff
    --title-text-color: #000
    --light-text-color: #666
    --post-background: #fff
    --post-shadow: rgba(149, 147, 255, 0.13)
    --navbar-background:linear-gradient(180deg, #9593FF 0%, #0442E3 100%)
    --navbar-box-shadow: rgba(149, 147, 255, 0.4)
    --username-color: #666
    --time-color: #000
    --post-below-section: #fff

    transition: background-color .23s ease-in-out

    &.DarkMode
        background-color: #000
        --title-text-color: #fff
        --light-text-color: #CECECE
        --post-background: #191D20
        --post-shadow: rgba(149, 147, 255, 0.13)
        --navbar-background: #191D20
        --navbar-box-shadow: rgba(149, 147, 255, 0.13)
        --username-color: #666666
        --time-color: #666666
        --post-below-section: #666666