@import Variables.sass


.home_page
    position: absolute
    top: 0
    margin:
        top: 5vh
        left: 15%
    width: 45%
.happening_container
    box-shadow: -5px 5px $almost-white
    border-radius: 25px
    height: 14vh

    .profile_div
        margin:
            left: 3vh
            top: 2vh
        height: 5vh
        width: 5vh
        border-radius: 26px
        overflow: hidden
        margin:
            bottom: 2vh
    form
        position: absolute
        top: 0
        margin: 
            left: 11vh
            top: 2vh
        width: 35%
        ::placeholder
            font-size: 1rem
            color: #131313
    input
        width: 200%
        height: 5vh
        border: none
    .emojis
        display: flex
        
    .icon
        height: 3vh
        width: 3vh
        margin:
            left: 3vh
        color: $lighter-text
.weeve_button
    margin:
        left: 60%
    display: flex
    width: 20vh
    height: 5vh

    button
        width: 100%
        border: none
        background: $lighter-theme-solid
        color: #fff
        border-radius: 8px
        font-size: 1rem
        text-align: center
        text-decoration: none
        display: inline-block
        .weeve_icon
            margin:
                left: 1vh
            width: 2.5vh
            height: 2.5vh
    
    button:hover
        color: $lighter-theme-solid
        background: #fff
        border: solid 2px $lighter-theme-solid
        transition: 0.3s
        

        


        
        
        
            

