@import Variables.sass

.home_page
    display: flex
    position: absolute
    margin:
        left: 11%
    width: 50vw
    flex-wrap: wrap

.top_container
    margin:
        top: 3em
    display: flex
    width: 100%
    box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
    border-radius: 35px
    padding: 2em
    flex-wrap: wrap

.upper_items
    width: 100%
    display: flex
    input
        border: none
        outline: none
        margin:
            left: 1em
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1.2rem
        line-height: 27px
        width: 70%
        ::placeholder
            font-size: 1rem
            color: #666666
.profile_div
    border-radius: 50px
    overflow: hidden
    height: 3em
    width: 3em
    cursor: pointer

.below_items
    display: flex
    justify-content: space-between
    width: 100%
    margin:
        top: 1em
    .icons_div
        display: flex
        cursor: pointer
    .emojis
        width: 1.8em
        height: 1.8em
        color: $lighter-text
    .emojis:first-child
        margin:
            right: 1em

.weeve_button
    button
        padding: 0.5em
        display: flex
        align-items: center
        width: 100%
        border: none
        background-color: $lighter-theme-solid
        color: #fff
        border-radius: 8px
        font-size: 1rem
        text-decoration: none
        border: solid 2px $lighter-theme-solid
        transition: 0.3s
        cursor: pointer
        &:hover
            border: 2px solid $lighter-theme-solid
            background-color: rgba(254, 254, 254, 0)
            color: $lighter-theme-solid


.weeve_icon
    margin:
        left: 0.5em
.home_page_containers
    box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
    border-radius: 35px
    display: flex
    margin:
        top: 2em
    flex-wrap: wrap
    padding: 2em
.upper_post
    display: flex
    justify-content: space-between
    width: 100%
    .left_section
        display: flex
        align-items: center
    .data_user
        margin:
            left: 1.2em
        
    .profile_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size:  0.8em
        line-height: 1em
        cursor: pointer
    .user_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1.4em
        line-height: 1em
    .time
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1em

    .link_post
        font-family: Poppins
        font-style: normal
        font-weight: normal
        font-size: 0.6em
        color: $lighter-theme-solid
        cursor: pointer
    .right_section
        text-align: right

.post_content
    margin:
        left: 4.2em
        top: 1em
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 1em
    line-height: 1.4em
    letter-spacing: 0.02em



.below_post
    display: flex
    color: $lighter-text
    letter-spacing: 0.1rem
    margin:
        left: 4.2em
        top: 0.5em

    .comment_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1em
        line-height: 1.5em
        margin:
            right: 2em
        cursor: pointer
    .like_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1em
        line-height: 1.5em
        margin:
            right: 2em
        cursor: pointer

    .share_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1em
        line-height: 1.5em
        cursor: pointer

    .post_icons
        margin:
            right: 0.5em
