@import Variables.sass

.home_page
    display: flex
    position: absolute
    margin:
        left: 14%
    width: 52vw
    flex-wrap: wrap

.top_container
    margin:
        top: 3em
    display: flex
    width: 100%
    box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
    border-radius: 35px
    padding: 1.5em
    flex-wrap: wrap
    min-width: 30em

.upper_items
    width: 100%
    display: flex
    margin:
        left: 0.5em
    input
        border: none
        outline: none
        margin:
            left: 1em
        font-family: Poppins
        font-style: normal
        font-weight: 50
        font-size: 1.1em
        line-height: 27px
        width: 70%
        ::placeholder
            font-size: 1em


.below_items
    margin:
        left: 0.5em
    display: flex
    justify-content: space-between
    width: 100%
    align-items: flex-end
    .icons_div
        display: flex
        cursor: pointer
    .emojis
        width: 1.8em
        height: 1.8em
        color: $lighter-text
    .emojis:first-child
        margin:
            right: 1em


.weeve_icon
    margin:
        left: 0.5em

.profile_div
    
    cursor: pointer
    img
        width: 2.2em
        height: 2.2em
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        border-radius: 47px
