.home_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top_container {
  width: 100%;
  -webkit-box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13);
  box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13);
  border-radius: 35px;
  padding: 1.5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--post-background);
}

.upper_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper_items input {
  border: none;
  outline: none;
  margin-left: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 50;
  font-size: 1.1em;
  line-height: 27px;
  width: 70%;
  background-color: transparent;
}

.upper_items input ::-webkit-input-placeholder {
  font-size: 1em;
}

.upper_items input :-ms-input-placeholder {
  font-size: 1em;
}

.upper_items input ::-ms-input-placeholder {
  font-size: 1em;
}

.upper_items input ::placeholder {
  font-size: 1em;
}

.below_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.below_items .icons_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.below_items .emojis {
  width: 1.8em;
  height: 1.8em;
  color: var(--light-text-color);
}

.below_items .emojis:first-child {
  margin-right: 1em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.7em;
}

.profile_div {
  cursor: pointer;
}

.profile_div img {
  width: 2.2em;
  height: 2.2em;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  border-radius: 47px;
}

@media screen and (max-width: 760px) {
  .home_page {
    margin-top: 5em;
    padding: 0em 1.5em;
  }
  .home_page .top_container {
    width: 100%;
  }
  .home_page .top_container ::-webkit-input-placeholder {
    font-size: 0.8em;
  }
  .home_page .top_container :-ms-input-placeholder {
    font-size: 0.8em;
  }
  .home_page .top_container ::-ms-input-placeholder {
    font-size: 0.8em;
  }
  .home_page .top_container ::placeholder {
    font-size: 0.8em;
  }
  .home_page .upper_items {
    margin-bottom: 0.5em;
  }
  .icon {
    width: 1em;
    height: 1em;
    margin-left: 0.7em;
  }
}

@media screen and (min-width: 760px) {
  .home_page {
    position: absolute;
    margin-left: 14%;
    width: 52vw;
  }
  .top_container {
    margin-top: 3em;
  }
  .top_container ::-webkit-input-placeholder {
    font-size: 1em;
  }
  .top_container :-ms-input-placeholder {
    font-size: 1em;
  }
  .top_container ::-ms-input-placeholder {
    font-size: 1em;
  }
  .top_container ::placeholder {
    font-size: 1em;
  }
  .top_container .upper_items {
    margin-left: 0.5em;
  }
  .top_container .below_items {
    margin-left: 0.5em;
  }
  .icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.7em;
  }
}
/*# sourceMappingURL=Home.module.css.map */
