@import Variables.sass

    
.navbar
    background: $linear-theme
    width: 6%
    border-radius: 25px
    text-align: center
    margin:
        top: 5vh
        left: 3vw
    position: relative

    .upper_icons
        padding: 1vw

    .icon_div
        margin:
            bottom: 5vh
        button
            border: none
            background: none
    


    .below_icon
        margin:
            top: 15vh
        padding: 1vw  

    .icon
        color: #fff
        height: 6vh
        width: 2.5vw

    .icon_div:hover
        background: $cec
        border-radius: 30px
        cursor: pointer
        transition: 0.3s
        

.picture
    width: 100%
    display: flex
    justify-content: center

    .profile_div
        height: 3vw
        width: 3vw
        border-radius: 26px
        overflow: hidden
        margin:
            bottom: 1vw

.picture_div:hover
    cursor: pointer
    