@import Variables.sass

    
.navbar
    background: $linear-theme
    width: 6%
    border-radius: 25px
    text-align: center
    margin:
        top: 5vh
        left: 5vh
    position: static

    .upper_icons
        padding: 3vh

    .icon_div
        margin:
            bottom: 5vh


    .below_icons
        margin:
            top: 30vh
        padding: 3vh        

    .icon
        color: #fff
        height: 4.5vh
        width: 4.5vh


    .icon_div:hover
        background: $cec
        border-radius: 12px
        cursor: pointer
        

