@import Variables.sass

.page
    position: absolute
    margin:
        left: 14%
    width: 52vw


    h1
        font-family: Poppins
        font-style: normal
        font-weight: 600

        margin:
            top: 1em
    .notification
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        
        flex-wrap: wrap
        margin:
            top: 1em
        h2
            font-weight: 400
            display: flex
            align-items: center
            width: 100%
            font-size: 1em
            color: $lighter-text
        span
            margin:
                right: 0.3em
            font-weight: 600
            color: $dark-background

        .heart
            margin:
                right: 0.3em
            color: #ff0000
        .comment
            margin:
                right: 0.3rem
            color: $lighter-theme-solid
        .plus_user
            margin:
                right: 0.3em
            color: $lighter-theme-solid


            

.profile_div
    cursor: pointer
    img
        width: 2.2em
        height: 2.2em
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        border-radius: 47px

