@import Variables.sass

.page
    position: absolute
    margin:
        left: 14%
    width: 52vw
.notifications
    padding-bottom: 2em

    h1
        font-family: Poppins
        font-style: normal
        font-weight: 600

        margin:
            top: 1em
    .notification
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        
        flex-wrap: wrap
        margin:
            top: 1em
        h2
            font-weight: 400
            display: flex
            align-items: center
            width: 100%
            font-size: 1em
            color: $lighter-text
        span
            margin:
                right: 0.3em
            font-weight: 600
            color: $dark-background

        .heart
            margin:
                right: 0.3em
            color: #ff0000
        .comment
            margin:
                right: 0.3rem
            color: $lighter-theme-solid
        .plus_user
            margin:
                right: 0.3em
            color: $lighter-theme-solid
.profil_data
    display: flex
    .data_user2
        margin:
            left: 1.3em

            

.profile_div
    cursor: pointer
    img
        width: 2.2em
        height: 2.2em
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        border-radius: 47px
.notification_containers
    box-shadow: 0px 10px 25px rgba(149, 147, 255, 0.13)
    border-radius: 35px
    display: flex
    margin:
        top: 2em
        left: 1.5em
    flex-wrap: wrap
    padding: 2em
.upper_post
    display: flex
    justify-content: space-between
    width: 100%
    .left_section
        display: flex
        align-items: center
    .data_user
        margin:
            left: 1.2em

    .profile_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        line-height: 1em
        cursor: pointer
        color: $lighter-text
    .user_name
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 1.4em
        line-height: 1em
    .time
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.9em

    .link_post
        font-family: Poppins
        font-style: normal
        font-weight: normal
        font-size: 0.6em
        color: $lighter-theme-solid
        cursor: pointer
    .right_section
        text-align: right

.post_content
    margin:
        left: 4em
        top: 1em
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 0.9em
    line-height: 1.4em
    letter-spacing: 0.02em

.below_post
    display: flex
    color: $lighter-text
    letter-spacing: 0.1rem
    margin:
        left: 3.5em
        top: 1em


    .comment_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        margin:
            right: 2em
        cursor: pointer
    .like_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        margin:
            right: 2em
        cursor: pointer

    .share_section
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal
        font-weight: 500
        font-size: 0.8em
        cursor: pointer

    .post_icons
        margin:
            right: 0.6em
