@import Variables.sass

.page
    h1
        font-family: Poppins
        font-style: normal
        font-weight: 600
        color: var(--title-text-color)
        margin:
            top: 1em
    .notification
        display: flex
        align-items: center
        font-family: Poppins
        font-style: normal

        flex-wrap: wrap
        margin:
            top: 1em
        h2
            font-weight: 400
            display: flex
            align-items: center
            width: 100%
            color: var(--light-text-color)
        span
            margin:
                right: 0.3em
            font-weight: 500
            color: var(--title-text-color)

        .heart
            margin:
                right: 0.3em
            color: #ff0000
        .comment
            margin:
                right: 0.3rem
            color: $lighter-theme-solid
        .plus_user
            margin:
                right: 0.3em
            color: $lighter-theme-solid

.profile_div
    cursor: pointer
    img
        width: 2.2em
        height: 2.2em
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        border-radius: 47px

@media screen and ( max-width: 760px )
    .notifications
        margin: 2em 1.5em 0em 1.5em
        margin:
            top: 5em
        h1
            font-size: 1.1em
        h2
            font-size: 0.9em

@media screen and ( min-width: 760px )
    .page
        position: absolute
        margin:
            left: 14%
        width: 52vw
        h2
            font-size: 1em
