@import Variables.sass

.right_side
    position: fixed
    top: 0
    margin:
        left: 70%
        top: 5vh
    width: 28vw
    height: 100%

    .searcher
        position: relative
        margin:
            top: 2vh
        box-shadow: 5px 5px $almost-white
        border-radius: 25px
        display: flex
        width: 100%

        form
            width: 85%
            margin:
                top: 0.5rem
                left: 0.5rem
                bottom: 0.5rem
        input
            width: 80%
            padding: 0.5rem
            border: none
            font-size: 1.1vw
            color: $lighter-text
            letter-spacing: 0.5px
        .icon_div
            background: $lighter-theme-solid
            width: 9%
            text-align: center
            vertical-align: middle
            border-radius: 10px
            margin:
                top: 0.5rem
                bottom: 0.5rem
            border: 2px solid #fff
        .icon_div:hover
            background: #fff
            border: 2px solid $lighter-theme-solid
            transition: 0.3s
            .icon
                color: $lighter-theme-solid
                transition: 0.3s

        .icon
            color: #fff
            margin:
                top: 0.2rem

    .suggestion_section
        position: relative

        .suggestion_div
            position: relative
            box-shadow: -5px 5px $almost-white
            border-radius: 25px
            margin:
                top: 3vh
        .title
            margin:
                top: 3.5vh
            font-size: 1.2rem
            font-weight: bold
            letter-spacing: 1.5px
        .button
            position: absolute
            top: 0
            right: 0
            margin:
                right: 1vw
                top: 1vh

            button
                background: none
                border: none
                color: $lighter-theme-solid
                font-size: 0.8rem
                cursor: pointer

        .profile_div
            height: 8vh
            width: 4vw
            border-radius: 16px
            overflow: hidden
            padding: 1.5em 1em

        .user_name
            position: absolute
            top: 0
            margin:
                top: 2em
                left: 6.5vw
            font-size: 1.1em

        .profile_name
            position: absolute
            top: 0
            margin:
                top: 5em
                left: 6.5vw
            font-size: 0.7em
            color: $lighter-text

        .button_div
            position: absolute
            top: 0
            right: 0
            margin:
                top: 5vh
                right: 3vw
            width: 6.5vw
            height: 2.1em

            button
                background: none
                border: 2px solid $lighter-theme-solid
                color: $lighter-theme-solid
                width: 100%
                height: 100%
                border-radius: 10px
                font-size: 0.8rem

            button:hover
                background: $lighter-theme-solid
                border: #fff
                color: #fff
                transition: 0.3s

.footer
    position: absolute
    bottom: 0
    margin:
        bottom: 5em
    font-size: 0.9rem
    display: flex
    a
        margin:
            right: 3em
        cursor: pointer
