@import Variables.sass
    
.page
    font-family: Poppins
    font-style: normal
    h1
        color: var(--title-text-color)
    .top_section
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        h2
            font-size: 1.5em
            font-weight: 600
            color: var(--title-text-color)
        a
            color: $lighter-theme-solid
            font-size: 0.8em
    .left_section
        display: flex
        align-items: center
    .arrow_icon
        color: var(--light-text-color)
        margin:
            right: 1em
        cursor: pointer
        
    

.data_user
    margin:
        top: 1em
        bottom: 1em
    .picture_div
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2))
        img
            border-radius: 130px
    .right_site
        display: flex
        flex-wrap: wrap
    .upper_section   
        width: 100%
        display: flex
        justify-content: space-between
    .user_name
        font-weight: 600
        color: var(--title-text-color)
    .profile_name
        font-weight: 400
        margin:
            top: -0.5em
        color: var(--username-color)

    .bio
        margin:
            top: 0.5em
        font-size: 0.9em
        color: var(--light-text-color)


@media screen and ( max-width: 760px )
    .page
        padding: 0em 1.5em
        h1
            font-size: 1.1em
    .top_section
        margin:
            top: 5em
    .user_name
        font-size: 1.5em
    .profile_name
        font-size: 0.9em
    .data_user
        .picture_div
            display: flex
            justify-content: center
            margin:
                bottom: 2em
            img
                width: 7em
                height: 7em



@media screen and ( min-width: 760px )
    .page
        display: flex
        flex-wrap: wrap
        position: absolute
        margin:
            left: 14%
        width: 52vw
    .top_section
        margin:
            top: 2em
    .data_user
        display: flex
        .picture_div
            img
                width: 9em
                height: 9em
    .right_site
        margin:
            left: 1.5em
    .user_name
        font-size: 2em

    .profile_name
        font-size: 1em


        





        